/* GLOBAL */
:root {
    --grey: #E6E9E0;
    --dark-grey:#D9D9D9;
    --purple: #776E9A;
    --black: #222222;
    --white: #FEFEFE;
    --orange: #FFB566;
    --brown: #B15E05;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Golos Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--purple);
}

/* FONT GAYATHRI TITRE H1 */
h1 {
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


/* INSCRIPTION */

/* CONTAINER GLOBAL */
.container-inscription {
    display: flex;
    width: 100%;
    height: 100vh;
}

/* PARTIE DROITE */
/* CONTAINER */
.container-svg-inscription {
    width: 75%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
}
/* IMAGE */
.image-inscription {
    width: 600px;
}
/* LOGO */
.logo-inscription {
    width: 300px;
}

/* PARTIE GAUCHE */
/* CONTAINER FORMULAIRE */
.container-form-inscription {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

/* TITRE FORMULAIRE */
.container-form-inscription h1 {
    width: 70%;
    border-bottom: solid 2px var(--purple);
}

/* FORMULAIRE */
.form-inscription {
    width: 70%;
    margin: 20px auto;
}

/* INPUT */
.form-inscription input {
    margin: 10px 0;
}

.form-inscription input[type="text"],
.form-inscription input[type="email"],
.form-inscription input[type="password"] {
    border: 1px solid transparent;
    border-top: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    padding-left: 10px;
    background: rgba(244, 243, 243, 1);
    opacity: 1;
    background-color: #F4F3F3;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39),
        0 -1px 1px #FFF,
        0 1px 0 #FFF;
}

.form-inscription input[type="text"]:focus,
.form-inscription input[type="email"]:focus,
.form-inscription input[type="password"]:focus {
    border: 3px solid var(--orange);
    outline: none;
}

.submit-inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* CACHER LA CASE A COCHER STANDARD */
.form-inscription input[type="checkbox"] {
    display: none;
}

/* CREER UNE CASE A COCHER */
.form-inscription input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid var(--orange);
    border-radius: 5px;
    margin: 0 3px 0 0;
    background: rgba(244, 243, 243, 1);
    cursor: pointer;
}

/* BORDER CASE A COCHER */
.form-inscription input[type="checkbox"]:checked+label::before {
    border-color: var(--purple);
    background-color: var(--orange);
}

/* TEXTE DE LA CHECKBOX */
.checkbox-inscription {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    margin-top: 5px;
}

/* BOUTON INSCRIPTION */
.form-inscription input[type="submit"] {
    box-shadow: none;
    border-radius: 50px;
    background-color: var(--orange);
    border: var(--brown) 1px solid;
    color: var(--white);
    cursor: pointer;
    font-size: 22px;
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* PROGRESS BAR COMPLEXITER MOT DE PASSE */
.container-progressbar-pass {
    width: 100%;
    display: none;
}

progress#pass-strength {
    width: 100%;
}

/* OEIL INPUT MOT DE PASSE */
.password-inscr {
    display: flex;
    flex-direction: column;
    position: relative;
}

.password-input {
    position: relative;
    display: inline-block;
    width: 100%;
}

.open-eye-inscription {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* ERREURS INSCRIPTION */
.errors-inscr {
    color: rgb(204, 0, 0) ;
    margin-top: -5px;
    margin-bottom: 5px;
}

/* INSCRIPTION MEDIA QUERIES */

@media (max-width:1166px) {

    .container-svg-inscription {
        row-gap: 20px;
    }

    .logo-inscription {
        width: 200px;
    }

    .image-inscription {
        width: 400px;
    }
    
    /* TITRE FORMULAIRE */
    .container-form-inscription h1 {
        font-size: 24px;
    }

    /* BOUTON INSCRIPTION */
    .form-inscription input[type="submit"] {
        font-size: 12px;
    }

    /* LIEN PAGE CONNEXION */
    .submit-inscription a {
        font-size: 12px;
    }

    .checkbox-inscription {
        font-size: 12px;
    }
}

@media (max-width:768px) {
    .container-inscription {
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
    }

    .image-inscription{
        width: 200px;
        padding-top: 15px;
    }

    .logo-inscription{
        margin-bottom: 20px;
    }

    .container-svg-inscription {
        width: 100%;
    }

    .container-form-inscription {
        width: 100%;
        row-gap: 20px;
        padding-top: 20px;
    }

    .form-inscription input[type="text"],
    .form-inscription input[type="email"],
    .form-inscription input[type="password"] {
        margin-bottom: 30px;
    }

    /* OEIL INPUT MOT DE PASSE */
    .open-eye-inscription {
        top: 24.5%;
    }
}

/*  UTILISATEURS */

.container-main-users {
    background-color: var(--grey);
    width: 100%;
    height: 90%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .top-container-users {
        background-color: var(--dark-grey);
        width: 98%;
        height: 5%;
        border-radius: 20px 20px 0px 0px;


    }
    .container-users {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--white);
        width: 98%;
        height: 97%;
        border-radius: 0 0 20px 20px;
        box-shadow: 0px 30px 15px -3px rgba(128, 128, 128, 0.1);

        .container-table-users {
             display: flex;
             align-items: center;
             flex-direction: column;
             background-color: var(--white);
             width: 98%;
             height: 97%;
             border-radius: 0 0 20px 20px;
             box-shadow: 0px 30px 15px -3px rgba(128, 128, 128, 0.1);
        }

        .show_users {
            width: 100%;
            border-collapse: collapse;
            border-radius: 20px 20px 20px 20px;
        }

        .show_users th,
        .show_users td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .show_users th {
            background-color: var(--purple);
            font-weight: bold;
        }

        .show_users tbody tr:hover {
            background-color: #f5f5f5;
        }
    }

    .pagination {
        display: flex;
        list-style-type: none;
        justify-content: center;
        /* Centrer horizontalement */
        margin-top: 20px;
        /* Marge en haut */

        li{
           margin: 0 5px;
           /* Marge entre les éléments */
        }

        li.active a {
           font-weight: bold;
           /* Mettre en gras le numéro de page actif */
        }

        li a {
            text-decoration: none;
            /* Supprimer les soulignements */
            color: #333;
            /* Couleur du texte */
            padding: 5px 10px;
            /* Espacement du texte à l'intérieur du lien */
            border: 1px solid #ccc;
            /* Bordure autour du lien */
            border-radius: 3px;
            /* Coins arrondis */
        }

        li a:hover {
            background-color: #f5f5f5;
            /* Couleur de fond au survol */
        }
    }

}
/*////////// CONNEXION //////////////////*/

/* container global */

.container-connexion {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Partie gauche */

.img-connexion {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    background-color: var(--grey);
}

.logo-connexion {
    width: 300px;
}
.svg-connexion{
    width: 600px;
}


/* Partie droite */

.container-right-connexion {
    width: 25%;
    height: 100%;
    background-color: var(--white);

    & h1 {
        font-family: "Gayathri", sans-serif;
        border-bottom: #776E9A solid 2px;
        width: 70%
    }
}

.container-form-connexion {

    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;

    & form {
        display: flex;
        row-gap: 30px;
        flex-direction: column;
        width: 70%;
        margin: 20px auto;
    }

    & div {
        display: flex;
        flex-direction: column;
    }

    & label {
        margin-bottom: 10px;
    }

    & input[type="email"],
    input[type="password"] {
        padding-left: 10px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid transparent;
        border-top: none;
        background-color: #F4F3F3;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }
   
  
    & .mdp {
        text-align: end;
    }

    & .button {

        box-shadow: none;
        border-radius: 50px;
        background-color: var(--orange);
        border: var(--brown) 1px solid;
        color: var(--white);
        cursor: pointer;
        font-size: 22px;
        padding: 10px;

    }


}

/* oeil positionnement input */
.eye{
  position: relative;
}
.open-eye{
  display: flex;
  align-items: center;
  position: absolute;
  right: 18%;
  margin-top: 8px;
}


/* CONNEXION MEDIA QUERIES */

@media (max-width:1166px){
 
  .img-connexion{
    row-gap: 20px;
    padding-top: 15px;
  }
  .logo-connexion {
    width: 200px;
    margin-bottom: 20px;
}
.svg-connexion{
  width: 400px;
}
.container-right-connexion{
  & h1{font-size: 24px;

  }
}
.container-form-connexion{
  & .button{
    font-size: 12px;
  }
  & a{
    font-size:12px;
  }
}



}

@media (max-width:768px){
  .container-connexion{
    display: flex;
    flex-direction: column;
    
  }
  .img-connexion{
    width: 100%;
  }
  .container-right-connexion{
    width: 100%;
  }
  .svg-connexion{
    width: 200px;
  }
  

}

/* Oeil */

@media (min-width: 768px){
  .open-eye{
    display: flex;
    align-items: center;
    justify-content: end;
    position: absolute;
    right: 5%;
    margin-top: 8px;
  
  }
}

/* ///////// MDP OUBLIE /////////// */

.container-pwd{
    height: 100vh;
    width: 100%;
    background-color: var(--grey);
}
/* Div Form */
.container-form-pwd{
    background-color: var(--white);
    width: 600px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.11);
    & h1{
        color: var(--purple);
    }
    & label{
        text-align: start;

    }
    & p{
        margin: 15px;
    }

    & a {
        color: var(--orange);
        font-size: 13px;
        margin-bottom: 10px;
    }

    &   input[type="submit"]{
        box-shadow: none;
        border-radius: 50px;
        background-color: var(--orange);
        border: var(--brown) 1px solid;
        color: var(--white);
        cursor: pointer;
        font-size: 15px;
        padding: 10px;
        margin-top: 10px;
    }
    & input[type="email"]{
        height: 40px;
        border-radius: 10px;
        border: 1px solid transparent;
        border-top: none;
        background-color: #F4F3F3;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }
  
    
    & div{
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        

    }

}

/* centrer le formulaire */
.center-form-pwd{
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 50%;
}
/* Div Img  */
.container-img-pwd{
    width: 100%;
    height:50% ;
    display: flex;
    align-items: end;
    column-gap: 5px;
    

    & .logo-inscription{
   
    margin-bottom: 60px;
    margin: 0 17em;
    width: 25%;
    align-items: end;
   
}
    & .password-svg{
    width: 25%;
   
  
}
}

/* MDP MEDIA QUERIES */

@media (max-width:425px){
    .container-form-pwd{
        & h1{
            font-size: 25px;
        }
    }
    .container-pwd{
        display: flex;
        flex-direction: column-reverse;
        align-items: start;
    }
    .container-img-pwd{
        align-items: end;
        height: 20%;
        & .logo-inscription{
            margin-bottom: 6px;
            margin: 0 2em;
         
        }
   
    }
    .center-form-pwd{
        height: 100%;
        display: flex;
        align-items: start;
    }
    .container-form-pwd{
        border-radius: 0;
    }
    
}

@media(max-width:1816px){
    .container-img-pwd{
    & .logo-inscription{
        margin-bottom: 6px;
        margin: 0 6em;}}

}@media (max-width: 767px){
    .container-img-pwd{
        & .logo-inscription{
            margin-bottom: 6px;
            margin: 0 3em;}}
}


/* ////////// 404 ////////// */

.container-404{
    height: 100vh;
    width: 100%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & img{
        width: 35%;
        margin-bottom: 20px;
        
    }
    & h1{
        font-weight: 600;
    }

}

@media (max-width: 767px){
    .container-404{
        & h1{
            font-size: 1em;
        }
    }
}

/* ///////// INDEX ///////// */

.container-index{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: ROW;
}

/* Section gauche SIDE BAR */

.left-section-index{
    width: 15%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    flex-direction: column;
    /* Section Avec logo de la Side Bar */
    .logo-section-sidebar{
        display: flex;
        flex-direction: column;
            & img {
            width:140px ;}
    }
    ul{
        margin-top: 4em;
    }
    li{
        list-style: none;
        margin-bottom: 15px;
      
        

        & img{
            margin-right: 20px;
            width: 15%;
        }
    }
    a{
        text-decoration: none;
        color: var(--black);
        font-size: 13px;
        display: flex;
        align-items: center;
        
    
    }

          
}

    & h1{
        color: var(--purple);
    }
    & label{
        text-align: start;
}

/* Section droite */

.rigth-section-index{
    width: 85%;
    height: 100vh;

        /* Nab Bar */
        & .nav-bar{
                width: 100%;
                height: 10%;
                display: flex; 
                align-items: center;
                justify-content: space-between;
                padding:3% 3% 2% 0;
        } 
        input[type="text"]{
            position: relative;
            padding-left: 10px;
            margin-right: 20px;
            height: 30px;
            width: 505px;
            border-radius: 10px;
            border: 1px solid transparent;
            border-top: none;
            background-color: #F4F3F3;
            border-bottom: 1px solid #DDD;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
        }
       
}

    
 .search{
    display: flex;
    position: absolute;
    top: 4.9%;
    margin-left: 11px;

  

}

/* //////// MAIN INDEX //////// */

.container-main-index{
    background-color: var(--grey);
    width: 100%;
    height: 90%;
    padding: 40px;
   

    /* /////// CONTAINER DU HAUT /////////////// */
    .top-main-index{
        display: flex;
        flex-direction: row;
        height: 45%;
        column-gap: 40px;
        
    
/*/////// CONTAINER EQUIPEMENTS HAUT GAUCHE//////// */
    .container-material-index{ 
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 65%;
        background-color:var(--white) ;
        border-radius: 20px;
        padding: 14px;
        box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.11);
        overflow: hidden;
        
        .title-material-index{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            a{
                font-size: 13px;

                img{
                    margin-left: 5px;
                }
            }
           
        }

        & button{
        padding: 6px;
        border-radius: 15px; 
        font-size: 11px;
        }

        /* Tableaux */
        & table{
            border:solid 1px var(--grey);
            border-collapse: collapse;
            font-size: 12px;
            width: 99%;
           
            & th{
                border:solid 1px var(--grey);
                padding: 0; 
                padding: 10px;
                background-color: var(--purple);
                color: var(--white);
            }
            & td{
                border:solid 1px var(--grey);
                padding: 0;
                padding: 5px;
            }
        }

        /* boutons */

        .bottom-main-index{
            display: flex;
            flex-direction: row;
        }

        .button-material-index{
            background-color:var(--black);
            color: var(--white);
        
        }
        .button-loan-index{
            background-color: var(--orange);
            border: solid 1px var(--brown);
            color: var(--white);
        }
        .button-available-index{
            background-color: var(--purple);
            border:solid 1px var(--black);
            color: var(--white);
        }
        .button-repair-index{
            border:solid 1px var(--grey);
        }

            }
        
        }

        /* Container Haut Gauche vue d'ensemble */
    .container-overview-index{
        display: flex;
        width: 35%;
        flex-direction: column;
        align-items: center;
        row-gap: 30px; 
        background-color:var(--white) ;
        border-radius: 20px;
        padding: 14px;
        box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.11);

        .roundTest{
            height:60%;
            width: 38%;
            background-color: var(--orange);
            border-radius: 150px;
        }
    }


    /* /////// CONTAINER DU BAS /////////////// */


    .bottom-main-index{  
        display: flex;
        flex-direction: column;
        height: 50%;
        column-gap: 40px;
        margin-top: 40px;
        row-gap: 40px;
        width: 100%;

        /* 2 BLOCKS DEMANDE */

            .title-flex-index{
                display: flex;
                align-items: center;
                justify-content: space-between;
               
                a{
                    font-size: 13px;
    
                    img{
                        margin-left: 5px;
                    }
                }
            } 
            .scroll-bar{
                   height: 120px;
                }
            /* TABLEAU */
            & table{
                border:solid 1px var(--grey);
                border-collapse: collapse;
                font-size: 12px;
                width: 99%;
               
                & th{
                    border:solid 1px var(--grey);
                    padding: 0; 
                    padding: 10px;
                    background-color: var(--orange);
                    color: var(--white);
                }
                & td{
                    border:solid 1px var(--grey);
                    padding: 0;
                    padding: 5px;
                }
            }
            /* DEMANDE DE LOCATION */
            .request-rental{
                background-color:var(--white) ;
                box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.11);
                padding: 14px;
                border-radius: 20px;
                height: 45%;
                overflow: hidden;

            
            /* DEMANDE DE RETOUR */
            }
            .request-return{
                background-color:var(--white) ;
                box-shadow: 0px 2px 12px 6px rgba(0,0,0,0.11);
                padding: 14px;
                border-radius: 20px;
                height: 45%;
                overflow: hidden;
                table{
                & th{
                background-color: var(--purple);}}
            }
        }
        
    }

/* SCROLL BAR */
.scroll-bar{
    overflow:auto;
    height: auto;
}
.scroll-bar::-webkit-scrollbar {
width: 8px;
}

.scroll-bar::-webkit-scrollbar-thumb {
background: #666;
border-radius: 20px;
}

.scroll-bar::-webkit-scrollbar-track {
background: #ddd;
border-radius: 40px;
}


/* ///////////// MATERIELS //////////////////// */
.container-main-material{
    background-color: var(--grey);
    width: 100%;
    height: 90%;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    .top-container-material{
        background-color: var(--dark-grey);
        width: 98%;
        height: 5%;
        border-radius: 20px 20px 0px 0px;
       
       
    }
    a{
        text-decoration:none
    }

    .container-material{
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--white);
        width: 98%;
        height: 97%;
        border-radius: 0 0 20px 20px; 
        box-shadow: 0px 30px 15px -3px rgba(128, 128, 128, 0.1);
   
        .container-cards-material{
            display: flex;
            flex-direction: row;
            align-items: center;
           justify-content: space-between;
            width: 80%;
            height: 100%;
        }

        .card-material{
            width: 25%;
            height: 60%;
            box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
        }
    }
   
}


