/* GLOBAL */
:root {
    --grey: #E6E9E0;
    --purple: #776E9A;
    --black: #222222;
    --white: #FEFEFE;
    --orange: #FFB566;
    --brown: #B15E05;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Golos Text",
        sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--purple);
}

/* FONT GAYATHRI TITRE */
h1 {
    font-family: "Gayathri", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


/* INSCRIPTION */

.container-inscription {
    display: flex;
    width: 100%;
    height: 100vh;
}

.container-svg-inscription {
    width: 75%;
    background-color: var(--grey);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.logo-inscription {
    width: 394px;
}

.container-form-inscription {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.container-form-inscription h1 {
    width: 70%;
    border-bottom: solid 2px var(--purple);
    font-size: 48px;
}

.form-inscription {
    width: 70%;
    margin: 20px;
}

.form-inscription label {
    font-size: 20px;
}

.container-form-inscription .form-inscription>div:nth-child(n+5) label,
.container-form-inscription .form-inscription>div:nth-child(n+6) {
    font-size: 15px;
}



.form-inscription input {
    margin: 10px 0 10px 0;
}

.form-inscription input[type="text"],
.form-inscription input[type="email"],
.form-inscription input[type="password"] {
    border: 1px solid transparent;
    border-top: none;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    padding: 5px;
    background: rgba(244, 243, 243, 1);
    opacity: 1;
    background-color: #F4F3F3;
    border-bottom: 1px solid #DDD;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39),
        0 -1px 1px #FFF,
        0 1px 0 #FFF;
}

.form-inscription input[type="text"],
.form-inscription input[type="email"],
.form-inscription input[type="password"]::placeholder {
    font-size: 15px;
}

.form-inscription input[type="checkbox"] {
    border: solid 1px var(--orange);
}

.submit-inscription {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* Lien connexion */
.submit-inscription a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

/* Cacher la case à cocher standard */
.form-inscription input[type="checkbox"] {
    display: none;
}

/* Créer un élément personnalisé pour remplacer la case à cocher */
.form-inscription input[type="checkbox"]+label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid var(--orange);
    /* Couleur de la bordure */
    border-radius: 5px;
    margin: 0 8px 0 0;
    background: rgba(244, 243, 243, 1);
}

/* Styler la bordure lorsqu'il est coché */
.form-inscription input[type="checkbox"]:checked+label::before {
    border-color: var(--purple);
    /* Couleur de la bordure lorsqu'il est coché */
}

/* Cacher la case à cocher standard */
.form-inscription input[type="submit"] {
    padding: 10px;
    border-radius: 50px;
    border: 1px solid var(--brown);
    background-color: var(--orange);
    color: var(--white);
    width: 250px;
    font-size: 22px;
    margin: 50px 0 15px 0;
}

/* Aignement checkbox text */
.checkbox-inscription {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* Espacement entre les checkbox */
.container-see-pass {
    margin: 15px 0 40px 0;
}

/* Progress bar password */
.container-progressbar-pass {
    width: 100%;
    display: none;
}

progress#pass-strength {
    width: 100%;
}

.password-input {
    position: relative;
}

.password-input input[type="password"] {
    padding-right: 30px;
    /* Pour laisser de l'espace pour l'icône */
}

.password-input .toggle-password {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    background-image: url('eye-icon.png');
    /* Remplacez par l'URL de votre image */
    width: 20px;
    height: 20px;
    background-size: cover;
    color: #776E9A;
}

/*////////// CONNEXION //////////////////*/

/* container global */

.container-connexion {
    width: 100%;
    height: 100vh;
    display: flex;
}

/* Partie gauche */

.img-connexion {
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 100px;
    background-color: var(--grey);
}

.logo-connexion {
    width: 400px;
}



/* Partie droite */

.container-right-connexion {
    width: 25%;
    height: 100%;
    background-color: var(--white);

    & h1 {
        font-family: "Gayathri", sans-serif;
        ;
        border-bottom: #776E9A solid 2px;
        padding-right: 20%;
        width: 70%
    }
}

.container-form-connexion {

    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;

    & form {
        display: flex;
        row-gap: 30px;
        flex-direction: column;
        width: 70%;
        margin: 20px auto;
    }

    & div {
        display: flex;
        flex-direction: column;
    }

    & label {
        margin-bottom: 10px;
    }

    & input[type="email"],
    input[type="password"] {
        height: 40px;
        width: 100%;
        border-radius: 10px;
        border: 1px solid transparent;
        border-top: none;
        background-color: #F4F3F3;
        border-bottom: 1px solid #DDD;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, .39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    }

    & .mdp {
        text-align: end;
    }

    & .button {

        box-shadow: none;
        border-radius: 50px;
        background-color: var(--orange);
        border: var(--brown) 1px solid;
        color: var(--white);
        cursor: pointer;
        font-size: 22px;
        padding: 10px;

    }


}